DATABASE_URL=postgresql://zaotrak:zaotrak@localhost:5432/zaotrak
PORT=3001

# Stellar testnet
ESCROW_CONTRACT_ID=CC44LWA7OK6BIOHWZPZ2ES22UT4POT6KHDYU22FCVY3IXGGTGBXFBFP5
PRIZE_TOKEN_CONTRACT=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
